.item {
    height: 35px;
    max-width: 600px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.item:last-of-type {
}

.users {
    max-width: 600px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.buttonsContainer {
    height: 70px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px;
}

.container {
    max-width: 600px;
    overflow: hidden;
    width: 100%;
}

.thead {
    height: 30px;
    max-width: 600px;
    width: 100%;
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.nameCol {
    padding: 0 10px;
    max-width: 300px;
    width: 50%;
}

.ageCol {
    max-width: 300px;
    width: 100%;
    font-weight: 600;
}