.greetingForm {
    display: flex;
    flex-direction: column;
}

.inputAndButtonContainer {
    display: flex;
    margin-top: 7px;
}

.error {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
    margin-top: 5px;
}

.input {
    height: 36px;
    width: 372px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.input:focus {
}

.errorInput {
    height: 36px;
    width: 372px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    border: 1px solid #CC0000;
    border-radius: 5px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    background: #0066CC;
    border-radius: 3px;
    color: #FFFFFF;
    margin-left: 10px;
    width: 78px;
    height: 36px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
}

