.sendForm {
    margin-top: 30px;
    height: 40px;
    display: flex;
    justify-content: space-between;

}

.textarea {
    width: 90%;
    border: 0px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    /*text-align:center;*/
    resize: none;
    outline: none;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

.button {
    border: 0px;
    background: #0066CC;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 44px;
}

.button:hover {
    background: #DDEEFF;
}
.button:active {
    background: blue;
}
